body {
	/* background: #2B2B2B;*/
}
/* Header */

div.banner {
	position: relative;
	width:100%;
}

div#banner-text {
	background: "#2B2B2B";
	background: rgba(0,0,0,.4); /*opacity if supported */
	color: #fff; /* font color */
	position:absolute;
	width:100%;
	left:70%;
	top:0;
	height:97.5%;
	padding: 3px;
}

div#banner-text p.name {
	color: #E9E581;
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.5;
	font-size:2.5em;
	padding: 2px;
}

div#banner-text p.degree em {
	color: #F6F6F6;
	font-size: 1.5em;
	padding: 2px;
}

div.contact-info {
	width: 100%;
}

/*navigation*/
div.navigation ul {
	padding: 15px;
}

div.navigation li {
	list-style-type:circle;
}

div.navigation ul li a {
	color: #fff;
}

/*
 * this was in order to push the contact
 * list to the bottom too, deprecated
div.contact-info {
	position: absolute;
	bottom: 50%;
}
*/

/* setup contact list display */
div.contact-info ul {
	list-style-type: none;
	list-style-image: none;
	list-style-position: none;
}

div.contact-info ul li {
	display: inline;
	padding: 3px;
}

div.contact-info ul li img {
	width: 32px;
	height: 32px;
}

/* Section separators */

div.section-row {
	background: #2B2B2B;
}

div.section-row h2 {
	color: #F6F6F6;
	padding: 2px;
	float:left;
}

#footer p {
	display: inline;
	float: left;
	padding-top: 12px;
	padding-left: 12px;
	color: #fff;
}

div.section-row span {
	display: inline;
	float: right;
	padding-top: 12px;
	padding-right: 12px;
}

div.section-row span em{
	color:#fff
}

div.section-row span em a{
	color:#fff;
	text-decoration:underline;
}

hr.section-separator {
	background-color: #DE1B1B;
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.5;
}

/*links*/
div.grid_3 a, div.grid_6 a {
	text-decoration:underline;
}

/* Ship it section */

div.shipped-row {
	background: #F6F6F6;
	padding:4px;
}

#shippedSection div.grid_3 {
	background: #F6F6F6;
}

/* fun fact cells */

.funfact {
 font-size:0.85em;
 background: #fff;
}

.funfact p {
	padding: 3px;
}
/* How the product image is displayed */

/* make rounded corners for the product image border*/
div.ship-img {
	padding: 1px;
	background: c;
	background: #E9E581;
	background: #2B2B2B;
	border-radius: 8px; 
	position:relative;
}

.selectedProduct div.ship-img {
	background: #DE1B1B;
}

div.ship-img img {
	margin:2px 2px 2px 2px;
	height: 150px;
	width: 99%;
}

/* styles for the role labels */
div.ship-roles {
	position:absolute;
	bottom:0;
	background: rgba(0,0,0,.6);
	width:100%;
	color: #fff;
}

div.ship-roles {
	clear:left;
	left:0;
}

div.ship-roles ul {
	list-style-type: none;
	list-style-image: none;
	list-style-position: none;
	margin: 0;
	padding: 5px;
}

div.ship-roles ul li {
	display: inline;
	text-align: center;
	padding: 2px
}

div.ship-roles ul li span {
	padding: 2px;
	font-size: 0.75em;
	font-weight: bold;
	line-height: 1.3em;
	background-color: #E9E581;
	color: #000;
	border-radius: 2px;
}
